.container{
    display: flex;
    justify-content: center;
    gap: 25px;}
.card{
    width: 200px;
    height: 350px;
    border-radius: 15px;
    box-shadow: 2px 2px 2px blue;
    margin-top: 25px;
    background: #f40000ff;
    background:  #f40000ff;;
    overflow: hidden;
}
.card img{
    width: 100%;
    height: 150px;
    background-color: blue;
    border-radius: 15px;
}
.iklan{
    width: 34rem;
    border-radius: 15px;
    margin-top: 20px;
    overflow: hidden;
}
.iklan img{
    width: 34rem;
    height: 250px;
    background-color: blue;
    border-radius: 15px;}
.kategori{
    width: 100px;
    margin-top: 30px;
    overflow: hidden;
}
.kategori img{
    width: 50%;
    height: 50px;
    background-color: blue;
    border-radius: 100%;}
    
         .btn-grad {background-image: linear-gradient(to right, #0099F7 0%, #F11712  51%, #0099F7  100%)}
         .btn-grad {
            margin: 10px;
            padding: 15px 45px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 20px #eee;
            border-radius: 10px;
            display: block;
          }

          .btn-grad:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
          }

         

